@use '../../styles/utils';
@use '../../styles/typography';

.LessonCard {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 24px;
  @include utils.adaptive-value('border-radius', 8, 6);
  border: 1px solid utils.$c_white-95;
  padding-block: 24px;
  @include utils.adaptive-value('padding-inline', 30, 24);
  cursor: pointer;
  transition-property: border-color, box-shadow;
  transition-duration: utils.$anim-time;

  &--Active {
    border-color: utils.$c_orange-80;
    box-shadow: 0 0 0 4px utils.$c_orange-95;
  }

  @container (max-width: 450px) {
    grid-template-columns: 1fr;
  }

  &__Text {
    display: grid;
    @include utils.adaptive-value('row-gap', 6, 2);
  }

  &__Title{
    @extend %text_2;
    color: utils.$c_grey-20;
  }

  &__Number {
    color: utils.$c_grey-35;
  }

  &__Duration {
    width: max-content;
    border-radius: 6px;
    @include utils.adaptive-value('padding-block', 12, 10);
    @include utils.adaptive-value('padding-inline', 14, 10);
    background-color: utils.$c_white-97;
    transition-property: background-color;
    transition-duration: utils.$anim-time;

    &--Active {
      background-color: utils.$c_orange-80;
    }
  }

  &__DurationText {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 4px;
    color: utils.$c_grey-35;

    &::before {
      content: '';
      display: block;
      @include utils.adaptive-value('width', 24, 20);
      aspect-ratio: 1;
      background-image: url(./assets/time.svg);
    }
  }
}
