@use '../../styles/utils';
@use '../../styles/typography';

$max-card-padding: 50;
$min-card-padding: 30;

.TestimonialCard {
  display: grid;
  height: 100%;
  @include utils.adaptive-value('border-radius', 12, 10);
  border: 1px solid utils.$c_white-95;
  background-color: utils.$c_white;
  overflow: hidden;

  &__Text {
    @include utils.adaptive-value('padding', $max-card-padding, $min-card-padding);
  }

  &__Details {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid utils.$c_white-95;
    @include utils.adaptive-value('padding-inline', $max-card-padding, $min-card-padding);
    @include utils.adaptive-value('padding-block', 32, 20);
    background-color: utils.$c_white-99;
  }

  &__User {
    display: grid;
    grid-auto-flow: column;
    @include utils.adaptive-value('column-gap', 15, 10);
    align-items: center;
    @extend %text_2;
    color: utils.$c_grey-15;
  }

  &__Avatar {
    display: block;
    @include utils.adaptive-value('width', 60, 50);
    aspect-ratio: 1;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
  }
}
