@use '../../styles/utils';
@use '../../styles/typography';

.Hero {
  @include utils.adaptive-value('padding-top', 100, 50);
  color: utils.$c_grey-15;

  &__Content {
    display: grid;
    @include utils.adaptive-value('row-gap', 100, 30);
  }

  &__Article {
    display: grid;
    justify-items: center;
    @include utils.adaptive-value('row-gap', 60, 50);
  }

  &__Text {
    display: grid;
    justify-items: center;
    text-align: center;
  }

  &__TitleWrapper {
    position: relative;
    @include utils.adaptive-value('margin-bottom', 20, 16);
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 10px;
    width: max-content;
    border-radius: 11px;
    border: 1px solid utils.$c_orange-95;
    @include utils.adaptive-value('padding-block', 19, 14);
    @include utils.adaptive-value('padding-left', 20, 14);
    @include utils.adaptive-value('padding-right', 30, 14);
    background-color: utils.$c_white;

    &::before {
      content: '';
      position: absolute;
      top: -30px;
      left: -24px;
      display: block;
      width: 39px;
      height: 43px;
      background-image: url(./assets/lines.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    @include utils.onMobile {
      &::before {
        top: -20px;
        left: -10px;
      }
    }
  }

  &__Icon {
    display: block;
    @include utils.adaptive-value('width', 62, 48);
    aspect-ratio: 1;
    border-radius: 6px;
    background-color: utils.$c_orange-95;
    background-image: url(./assets/thunder.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
  }

  &__Title {
    @extend %text_8;
    color: utils.$c_grey-10;
  }

  &__TitleOrange {
    color: utils.$c_orange-50;
  }

  &__LargeText {
    @include utils.adaptive-value('margin-bottom', 10, 6);
    @extend %text_6;
  }

  &__Buttons {
    display: grid;
    grid-auto-flow: column;
    column-gap: 12px;
    width: max-content;
  }
}

