$max-width: 1920;
$min-width: 390;
$max-page-padding: 162;
$min-page-padding: 16;
$max-header-height: 99;
$min-header-height: 73;

$max-mobile-width: 576px;
$max-tablet-width: 992px;

$anim-time: 300ms;

$c_white: #fff;
$c_black: #000;
$c_orange-50: #ff9500;
$c_orange-70: #ffbf66;
$c_orange-75: #ffca80;
$c_orange-80: #ffd499;
$c_orange-90: #ffeacc;
$c_orange-95: #fff4e5;
$c_orange-97: #fff9f0;
$c_orange-99: #fffdfa;
$c_white-90: #e4e4e7;
$c_white-95: #f1f1f3;
$c_white-97: #f7f7f8;
$c_white-99: #fcfcfd;
$c_grey-10: #191919;
$c_grey-15: #262626;
$c_grey-20: #333;
$c_grey-30: #4c4c4d;
$c_grey-35: #59595a;
$c_grey-40: #656567;
$c_grey-60: #98989a;
$c_grey-70: #b3b3b3;
