@use '../../styles/utils';

.Video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1596 / 790;
  @include utils.adaptive-value('border-radius', 12, 10);

  &__Image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__Button {
    position: relative;
    z-index: 1;
    @include utils.adaptive-value('width', 84, 62);
    aspect-ratio: 1;
    border-radius: 50%;
    @include utils.adaptive-value('border-width', 6, 4);
    border-style: solid;
    border-color: #ffffff33;
    background-color: #ffffff1a;
    background-image: url(./assets/play.png);
    background-repeat: no-repeat;
    background-size: 34px;
    background-position: center;
  }
}
