@use '../../styles/utils';

.FeaturesItem {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  @include utils.adaptive-value('column-gap', 12, 8);
  height: 100%;
  width: 100%;
  border-radius: 6px;
  border: 1px solid utils.$c_white-95;
  @include utils.adaptive-value('padding', 14, 12);

  &__Icon {
    @include utils.adaptive-value('width', 32, 24);
    aspect-ratio: 1;
    border-radius: 6;
    background-repeat: no-repeat;
    @include utils.adaptive-value('background-size', 20, 16);
    background-position: center;

    &--Tick {
      background-color: utils.$c_orange-95;
      background-image: url(./assets/tick.svg);
    }

    &--Cross {
      border: 1px solid utils.$c_white-95;
      background-image: url(../../assets/svg/cross.svg);
    }
  }
}
